services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_DATABASE=oauth2
      - MYSQL_ROOT_PASSWORD=123456
    ports:
      - '3307:3306'
    volumes:
      - ./init:/docker-entrypoint-initdb.d
      - db-data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

volumes:
  db-data:
    driver: local
  redis-data:
    driver: local